<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #3FA7D6; min-height: 10vh;">
  <a class="navbar-brand" href="#">TinyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/urls">My Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/urls/new">Create New Link</a>
      </li>
    </ul>
      <% if(user){ %>
      <span class="navbar-text font-weight-bold" style="padding-right: 8px">Logged in as <%= user.email %></span>
      <form method="POST" action="/logout">
        <button type="submit" class="btn btn-light">Log out</button>
      </form>
      <% } else{ %>
      <a href="/login"><button type="submit" class="btn btn-light" style="margin: 8px">Login</button></a>
      <a href="/register"><button type="submit" class="btn btn-light">Register</button></a>
      <% } %>
  </div>
</nav>